doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
<<<<<<< HEAD
  body
    block content
=======
    script(type='text/javascript', src='/javascripts/main.js')
  body
    block content
>>>>>>> ca455b6a5364b1b14759a8ef40b3a081e230b01d
