doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(type='text/javascript', src='/javascripts/map.js')
  body
    block content
    #map_canvas
